@model List<OrganikV1.Entities.Products>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@if (TempData["updateStatus"] != null)
{
    <div class="alert alert-info">
        @TempData["updateStatus"]
    </div>
}
    <div class="product-filter">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <div class="btn-group">
                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="" data-original-title="List"><i class="fa fa-th-list"></i></button>
                    <button type="button" id="grid-view" class="btn btn-default selected" data-toggle="tooltip" title="" data-original-title="Grid"><i class="fa fa-th"></i></button>
                    <a href="~/User/Productupdate/newProduct=true" class="btn btn-primary">Yeni Ürün Ekle</a>
                </div>
            
            </div>
            <div class="col-sm-2 text-right">
                <label class="control-label" for="input-sort">Sort By:</label>
            </div>
            <div class="col-md-3 col-sm-2 text-right">
                <select id="input-sort" class="form-control col-sm-3">
                    <option value="" selected="selected">Default</option>
                    <option value="">Name (A - Z)</option>
                    <option value="">Name (Z - A)</option>
                    <option value="">Price (Low &gt; High)</option>
                    <option value="">Price (High &gt; Low)</option>
                    <option value="">Rating (Highest)</option>
                    <option value="">Rating (Lowest)</option>
                    <option value="">Model (A - Z)</option>
                    <option value="">Model (Z - A)</option>
                </select>
            </div>
            <div class="col-sm-1 text-right">
                <label class="control-label" for="input-limit">Show:</label>
            </div>
            <div class="col-sm-2 text-right">
                <select id="input-limit" class="form-control">
                    <option value="" selected="selected">20</option>
                    <option value="">25</option>
                    <option value="">50</option>
                    <option value="">75</option>
                    <option value="">100</option>
                </select>
            </div>
        </div>
    </div>
<hr />
<div class="row products-category">
    @if (Model.Count != 0)
    {
        @foreach (var product in Model)
        {
            <div class="product-layout product-grid col-lg-5ths col-md-5ths col-sm-3 col-xs-6">
                <div class="product-thumb">
                    <div class="image slideshow single-slider  owl-carousel">
                        <a href="~/product/@product.seoTitle">
                            <img class="img-responsive" src="~/UserFiles/product/@product.productPhoto" alt="@product.seoTitle " title="@product.title">
                        </a>
                    </div>
                    <div>
                        <div class="caption">
                            <h4><a href="~/product/@product.seoTitle">@product.title</a></h4>
                           
                            <p class="price"> <span class="price-new">@product.price &#x20BA;</span>  @*<span class="price-tax">Ex Tax: $1,400.00</span>*@ </p>
                        </div>
                        <div class="button-group">
                            @*<button class="btn-primary" type="button" onclick=""><span>Add to Cart</span></button>*@
                            <div class="add-to-links">
                                <a href="~/User/ProductDelete/@product.productId" data-toggle="tooltip" title="" data-original-title="Sil"><i class="fa fa-remove btn btn-danger"></i> </a>
                                <a href="~/User/Productupdate/@product.seoTitle" data-toggle="tooltip" title="" data-original-title="Güncelle"><i class="btn btn-success fa fa-edit "></i> </a>
                                <a href="~/User/ProductGallery/@product.seoTitle" data-toggle="tooltip" title="" data-original-title="Galeri"><i class="btn btn-warning fa fa-image "></i> </a>
                                <a href="~/User/ProductComment/@product.seoTitle" data-toggle="tooltip" title="" data-original-title="Yorumlar"><i class="btn btn-default fa fa-comment "></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <i>Hiç Ürün Eklenmemiş</i>
    }

</div>

